@charset "UTF-8";

/* 리뷰 */
.reply {
	position: relative;
	width: 700px;
	height: 650px;
	top: 50px;
	right: 24.7%;
}
.reply form .bookTitle {
	font-size: 20px; 
	background-color: #f4f4f4;
}
.reply form .bookTitle th {
	width: 120px;
	padding: 10px 0px;
}
.reply form .bookInfo td {
	width: 120px;
	height: 110px;
	text-align: center;
	border-bottom: 1px solid #c2c2c2;
	background-color: white;
	font-weight: bold;
}
.reply form .bookInfo a {
	color: black;
}
.reply form .bookInfo img {
	height: 90px;
}
.reply form select {
	padding: 5px;
	margin-bottom: 10px;
}

.review {
	text-align: center;
	width:800px;
}
.review ul {
	text-align: left;
	margin-left: 120px;
	margin-bottom: 10px;
}
.review ul li {
	padding: 3px;
}
.review ul li #updateReply, .review ul li #deleteReply {
	padding: 3px;
	color: green;
	font-size: 14px;
	font-weight: bold;
}